In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\dairo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\dairo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\dairo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

df_coomproriente = pd.read_excel('../Data/Precios_Coomproriente_limpio.xlsx')
df_coomproriente.head()

,Producto,Precio,Cantidad,Fecha,Origen,Kg,Precio_por_kg,Mercado
0,Aguacate Papelillo,10000.0,Kilogramo - 1 Kg,2025-04-03,Coomproriente,1,10000.0,Sogamoso
1,Aguacate Papelillo,10000.0,Kilogramo - 1 Kg,2025-04-07,Coomproriente,1,10000.0,Sogamoso
2,Aguacate Papelillo,10000.0,Kilogramo - 1 Kg,2025-04-09,Coomproriente,1,10000.0,Sogamoso
3,Aguacate Papelillo,11000.0,Kilogramo - 1 Kg,2025-04-10,Coomproriente,1,11000.0,Sogamoso
4,Aguacate Papelillo,10000.0,Kilogramo - 1 Kg,2025-04-14,Coomproriente,1,10000.0,Sogamoso

In [8]:
df_agronet = pd.read_excel('../Data/datos_agronet_limpio.xlsx')
df_agronet.head()

  Mercado             Producto      Fecha  Precio $/KG
0  Bogotá  Aguacate papelillo  2005-07-15       2200.0
1  Bogotá  Aguacate papelillo  2005-07-22       2340.0
2  Bogotá  Aguacate papelillo  2005-07-29       2355.0
3  Bogotá  Aguacate papelillo  2005-08-05       2410.0
4  Bogotá  Aguacate papelillo  2005-08-12       2410.0

In [9]:
df_coomproriente.shape  # Cantidad de filas y columnas
df_coomproriente.columns  # Nombres de las columnas
df_coomproriente.dtypes  # Tipos de datos de cada columna

Producto                 object
Precio                  float64
Cantidad                 object
Fecha            datetime64[ns]
Origen                   object
Kg                        int64
Precio_por_kg           float64
Mercado                  object
dtype: object

In [10]:
df_agronet.shape  # Cantidad de filas y columnas
df_agronet.columns  # Nombres de las columnas
df_agronet.dtypes  # Tipos de datos de cada columna

Mercado                object
Producto               object
Fecha          datetime64[ns]
Precio $/KG           float64
dtype: object

In [11]:
df_agronet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65284 entries, 0 to 65283
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Mercado      65284 non-null  object
 1   Producto     65284 non-null  object
 2   Fecha        65284 non-null  datetime64[ns]
 3   Precio $/KG  65284 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 2.0+ MB

In [7]:
df_agronet['Fecha_limpia'] = df_agronet['Fecha'].str.split(',').str[-1].str.strip()
# Diccionario para traducir meses
meses_es_en = {
    'enero': 'January', 'febrero': 'February', 'marzo': 'March', 'abril': 'April',
    'mayo': 'May', 'junio': 'June', 'julio': 'July', 'agosto': 'August',
    'septiembre': 'September', 'octubre': 'October', 'noviembre': 'November', 'diciembre': 'December'
}

# Convertir a minúsculas y reemplazar
df_agronet['Fecha_limpia'] = df_agronet['Fecha_limpia'].str.lower()
for esp, eng in meses_es_en.items():
    df_agronet['Fecha_limpia'] = df_agronet['Fecha_limpia'].str.replace(esp, eng, regex=False)

# Convertir a minúsculas y reemplazar
df_agronet['Fecha_limpia'] = df_agronet['Fecha_limpia'].str.lower()
for esp, eng in meses_es_en.items():
    df_agronet['Fecha_limpia'] = df_agronet['Fecha_limpia'].str.replace(esp, eng, regex=False)

df_agronet['Fecha_dt'] = pd.to_datetime(df_agronet['Fecha_limpia'], format='%B %d de %Y', errors='coerce')

In [8]:
df_agronet.head()

,Mercado,Producto,Fecha,Precio $/KG,Fecha_limpia,Fecha_dt
0,Corabastos,Aguacate papelillo,"Viernes, Julio 15 de 2005",2200.0,july 15 de 2005,2005-07-15
1,Corabastos,Aguacate papelillo,"Viernes, Julio 22 de 2005",2340.0,july 22 de 2005,2005-07-22
2,Corabastos,Aguacate papelillo,"Viernes, Julio 29 de 2005",2355.0,july 29 de 2005,2005-07-29
3,Corabastos,Aguacate papelillo,"Viernes, Agosto 5 de 2005",2410.0,august 5 de 2005,2005-08-05
4,Corabastos,Aguacate papelillo,"Viernes, Agosto 12 de 2005",2410.0,august 12 de 2005,2005-08-12

In [12]:
df_agronet.isnull().sum()

Mercado        0
Producto       0
Fecha          0
Precio $/KG    0
dtype: int64

In [13]:
df_agronet.describe(include='all')  # Incluye estadísticas para todos los tipos de columnas

,Mercado,Producto,Fecha,Precio $/KG
count,65284,65284,65284,65284.000000
unique,4,43,NaN,NaN
top,Bogotá,Banano Urabá (Semanal | Mensual),NaN,NaN
freq,24959,2198,NaN,NaN
mean,NaN,NaN,2005-12-06 10:07:23.796336,1379.635855
min,NaN,NaN,1997-08-08 00:00:00,44.000000
25%,NaN,NaN,2002-09-27 00:00:00,624.917500
50%,NaN,NaN,2006-07-28 00:00:00,1033.330000
75%,NaN,NaN,2009-03-20 00:00:00,1900.000000
max,NaN,NaN,2011-12-23 00:00:00,9523.810000
std,NaN,NaN,NaN,1020.285333

In [14]:
df_agronet.columns = df_agronet.columns.str.strip().str.lower().str.replace(' ', '_')

In [15]:
df_agronet.head()

  mercado             producto      fecha  precio_$/kg
0  Bogotá  Aguacate papelillo  2005-07-15       2200.0
1  Bogotá  Aguacate papelillo  2005-07-22       2340.0
2  Bogotá  Aguacate papelillo  2005-07-29       2355.0
3  Bogotá  Aguacate papelillo  2005-08-05       2410.0
4  Bogotá  Aguacate papelillo  2005-08-12       2410.0

In [16]:
mercados = df_agronet['mercado'].value_counts().reset_index()
mercados.columns = ['mercado', 'Cantidad de registros']
print("📍 Mercados disponibles:\n")
print(mercados.to_string(index=False))

# Categorías únicas en la columna 'Producto'
productos = df_agronet['producto'].unique()
print("Productos disponibles:", productos)

📍 Mercados disponibles:

 mercado  Cantidad de registros
  Bogotá                  24959
   Tunja                  22467
 Duitama                  11139
Sogamoso                   6719
Productos disponibles: ['Aguacate papelillo ' 'Ajo     (Semanal | Mensual)' 'Arracacha amarilla '
 'Arveja verde en vaina ' 'Banano Urabá    (Semanal | Mensual)'
 'Cebolla cabezona blanca ' 'Cebolla cabezona roja    (Semanal | Mensual)'
 'Cebolla puerro    (Semanal | Mensual)'
 'Cilantro     (Semanal | Mensual)'
 'Durazno nacional    (Semanal | Mensual)'
 'Espinaca    (Semanal | Mensual)' 'Feijoa    (Semanal | Mensual)'
 'Fresa    (Semanal | Mensual)' 'Guanábana    (Semanal | Mensual)'
 'Guayaba común    (Semanal | Mensual)' 'Habichuela '
 'Lechuga crespa verde    (Semanal | Mensual)' 'Limón tahití ' 'Lulo '
 'Mandarina común ' 'Mango de azúcar    (Semanal | Mensual)'
 'Mango tommy ' 'Manzana nacional    (Semanal | Mensual)'
 'Manzana roja importada    (Semanal | Mensual)'
 'Manzana verde importada    (Semanal | Mensual)' 'Maracuyá\xa0 '
 'Melón cantalup    (Semanal | Mensual)' 'Mora de castilla '
 'Naranja común     (Semanal | Mensual)' 'Naranja valencia '
 'Papa criolla limpia ' 'Papaya maradol ' 'Pepino cohombro '
 'Perejil    (Semanal | Mensual)' 'Pimentón '
 'Piña gold    (Semanal | Mensual)' 'Remolacha '
 'Repollo verde regional    (Semanal | Mensual)' 'Tomate chonto '
 'Uchuva con cáscara    (Semanal | Mensual)'
 'Uva isabela    (Semanal | Mensual)'
 'Yuca llanera    (Semanal | Mensual)' 'Zanahoria ']

In [14]:
# Diccionario de mapeo para estandarizar nombres de mercado
reemplazos_mercado = {
    'Duitama (Boyacá)': 'Duitama',
    'Tunja (Boyacá)': 'Tunja',
    'Sogamoso (Boyacá)': 'Sogamoso',
    'Bogotá, D.C., Corabastos': 'Corabastos'
}

# Reemplazar en la columna 'Mercado'
df_agronet['mercado'] = df_agronet['mercado'].replace(reemplazos_mercado)

In [17]:
cantidad_productos = df_agronet['producto'].nunique()
print(f"📦 Total de productos únicos: {cantidad_productos}")

📦 Total de productos únicos: 43

In [18]:
productos_unicos = sorted(df_agronet['producto'].dropna().unique())
print("📦 Lista de productos disponibles:\n")
for i, prod in enumerate(productos_unicos, start=1):
    print(f"{i}. {prod}")

📦 Lista de productos disponibles:

1. Aguacate papelillo
2. Ajo     (Semanal | Mensual)
3. Arracacha amarilla
4. Arveja verde en vaina
5. Banano Urabá    (Semanal | Mensual)
6. Cebolla cabezona blanca
7. Cebolla cabezona roja    (Semanal | Mensual)
8. Cebolla puerro    (Semanal | Mensual)
9. Cilantro     (Semanal | Mensual)
10. Durazno nacional    (Semanal | Mensual)
11. Espinaca    (Semanal | Mensual)
12. Feijoa    (Semanal | Mensual)
13. Fresa    (Semanal | Mensual)
14. Guanábana    (Semanal | Mensual)
15. Guayaba común    (Semanal | Mensual)
16. Habichuela
17. Lechuga crespa verde    (Semanal | Mensual)
18. Limón tahití
19. Lulo
20. Mandarina común
21. Mango de azúcar    (Semanal | Mensual)
22. Mango tommy
23. Manzana nacional    (Semanal | Mensual)
24. Manzana roja importada    (Semanal | Mensual)
25. Manzana verde importada    (Semanal | Mensual)
26. Maracuyá
27. Melón cantalup    (Semanal | Mensual)
28. Mora de castilla
29. Naranja común     (Semanal | Mensual)
30. Naranja valencia
31. Papa criolla limpia
32. Papaya maradol
33. Pepino cohombro
34. Perejil    (Semanal | Mensual)
35. Pimentón
36. Piña gold    (Semanal | Mensual)
37. Remolacha
38. Repollo verde regional    (Semanal | Mensual)
39. Tomate chonto
40. Uchuva con cáscara    (Semanal | Mensual)
41. Uva isabela    (Semanal | Mensual)
42. Yuca llanera    (Semanal | Mensual)
43. Zanahoria

In [19]:
productos_unicos_coompriente = sorted(df_coomproriente['Producto'].dropna().unique())
print("📦 Lista de productos disponibles:\n")
for i, prod in enumerate(productos_unicos_coompriente, start=1):
    print(f"{i}. {prod}")

📦 Lista de productos disponibles:

1. Aguacate Papelillo
2. Ajo
3. Arracacha Amarilla
4. Arveja Verde En Vaina
5. Banano Urabá
6. Cebolla Cabezona Blanca
7. Cebolla Cabezona Roja
8. Cebolla Larga
9. Cilantro
10. Durazno Nacional
11. Espinaca
12. Feijoba
13. Fresa
14. Frijol Verde
15. Guanabana
16. Guayaba
17. Habichuela
18. Limon Mandarino
19. Limon Tahití
20. Lulo
21. Mandarina
22. Mango Azucar
23. Mango Común
24. Mango Tommy
25. Manzana Gloria
26. Manzana Nacional
27. Manzana Roja Importada
28. Manzana Verde Importada
29. Maracuyá
30. Mazorca
31. Melon
32. Mora De Castilla
33. Naranja Comun
34. Naranja Tanjelo
35. Naranja Valencia
36. Papa Criolla Limpia
37. Papa úNica
38. Papaya Maradol
39. Pepino Cohombro
40. Pepino De Guiso
41. Pera Nacional
42. Perejil
43. Pimentón
44. Piña Gold
45. Plátano Hartón Verde Llanero Grueso
46. Plátano Hartón Verde Llanero Parejo
47. Remolacha
48. Repollo Verde
49. Sandia
50. Sandia Baby
51. Tomate Cherri
52. Tomate Chonto
53. Tomate De Arbol Amarillo
54. Tomate De Rio
55. Uchuva
56. Uva Isabelita
57. Yuca Llanera
58. Zanahoria

In [20]:
# Eliminamos "(Semanal | Mensual)" y limpiamos espacios antes de mapear
df_agronet['Producto_limpio'] = (
    df_agronet['producto']
    .str.replace(r'\(Semanal\s*\|\s*Mensual\)', '', regex=True)
    .str.strip()
)

reemplazos = {
    "Aguacate papelillo": "Aguacate Papelillo",
    "Ajo": "Ajo",
    "Arracacha amarilla": "Arracacha Amarilla",
    "Arveja verde en vaina": "Arveja Verde En Vaina",
    "Banano Urabá": "Banano Urabá",
    "Cebolla cabezona blanca": "Cebolla Cabezona Blanca",
    "Cebolla cabezona roja": "Cebolla Cabezona Roja",
    "Cilantro": "Cilantro",
    "Durazno nacional": "Durazno Nacional",
    "Espinaca": "Espinaca",
    "Feijoa": "Feijoba",
    "Fresa": "Fresa",
    "Guanábana": "Guanabana",
    "Guayaba común": "Guayaba",
    "Habichuela": "Habichuela",
    "Lechuga crespa verde": "Lechuga Crespa Verde",
    "Limón tahití": "Limon Tahití",
    "Lulo": "Lulo",
    "Mandarina común": "Mandarina",
    "Mango común": "Mango Común",
    "Mango de azúcar": "Mango Azucar",
    "Mango tommy": "Mango Tommy",
    "Manzana nacional": "Manzana Nacional",
    "Manzana roja importada": "Manzana Roja Importada",
    "Manzana verde importada": "Manzana Verde Importada",
    "Maracuyá ": "Maracuyá",
    "Melón cantalup": "Melon",
    "Mora de castilla": "Mora De Castilla",
    "Naranja común": "Naranja Comun",
    "Naranja valencia": "Naranja Valencia",
    "Papa criolla limpia": "Papa Criolla Limpia",
    "Papaya maradol": "Papaya Maradol",
    "Pepino cohombro": "Pepino Cohombro",
    "Perejil": "Perejil",
    "Pimentón": "Pimentón",
    "Piña gold": "Piña Gold",
    "Remolacha": "Remolacha",
    "Repollo verde regional": "Repollo Verde",
    "Tomate chonto": "Tomate Chonto",
    "Uchuva con cáscara": "Uchuva",
    "Uva isabela": "Uva Isabelita",
    "Yuca llanera": "Yuca Llanera",
    "Zanahoria": "Zanahoria"
}

In [21]:
# Aplicar el mapeo para homologar nombres
df_agronet['Producto_homologado'] = df_agronet['Producto_limpio'].replace(reemplazos)

# Mostrar ejemplo de cambios aplicados
df_agronet[['producto', 'Producto_limpio', 'Producto_homologado']].drop_duplicates().head(20)

,producto,Producto_limpio,Producto_homologado
0,Aguacate papelillo,Aguacate papelillo,Aguacate Papelillo
421,Ajo (Semanal | Mensual),Ajo,Ajo
2472,Arracacha amarilla,Arracacha amarilla,Arracacha Amarilla
4568,Arveja verde en vaina,Arveja verde en vaina,Arveja Verde En Vaina
6711,Banano Urabá (Semanal | Mensual),Banano Urabá,Banano Urabá
8909,Cebolla cabezona blanca,Cebolla cabezona blanca,Cebolla Cabezona Blanca
11103,Cebolla cabezona roja (Semanal | Mensual),Cebolla cabezona roja,Cebolla Cabezona Roja
12077,Cebolla puerro (Semanal | Mensual),Cebolla puerro,Cebolla puerro
12761,Cilantro (Semanal | Mensual),Cilantro,Cilantro
14766,Durazno nacional (Semanal | Mensual),Durazno nacional,Durazno Nacional
15570,Espinaca (Semanal | Mensual),Espinaca,Espinaca
17557,Feijoa (Semanal | Mensual),Feijoa,Feijoba
18629,Fresa (Semanal | Mensual),Fresa,Fresa
20608,Guanábana (Semanal | Mensual),Guanábana,Guanabana
21898,Guayaba común (Semanal | Mensual),Guayaba común,Guayaba
22825,Habichuela,Habichuela,Habichuela
24998,Lechuga crespa verde (Semanal | Mensual),Lechuga crespa verde,Lechuga Crespa Verde
25127,Limón tahití,Limón tahití,Limon Tahití
27167,Lulo,Lulo,Lulo
28786,Mandarina común,Mandarina común,Mandarina

In [22]:
df_agronet

,mercado,producto,fecha,precio_$/kg,Producto_limpio,Producto_homologado
0,Bogotá,Aguacate papelillo,2005-07-15,2200.00,Aguacate papelillo,Aguacate Papelillo
1,Bogotá,Aguacate papelillo,2005-07-22,2340.00,Aguacate papelillo,Aguacate Papelillo
2,Bogotá,Aguacate papelillo,2005-07-29,2355.00,Aguacate papelillo,Aguacate Papelillo
3,Bogotá,Aguacate papelillo,2005-08-05,2410.00,Aguacate papelillo,Aguacate Papelillo
4,Bogotá,Aguacate papelillo,2005-08-12,2410.00,Aguacate papelillo,Aguacate Papelillo
...,...,...,...,...,...,...
65279,Tunja,Zanahoria,2011-12-16,616.67,Zanahoria,Zanahoria
65280,Duitama,Zanahoria,2011-12-23,850.00,Zanahoria,Zanahoria
65281,Tunja,Zanahoria,2011-12-23,745.00,Zanahoria,Zanahoria
65282,Bogotá,Zanahoria,2011-12-23,677.78,Zanahoria,Zanahoria
65283,Sogamoso,Zanahoria,2011-12-23,680.00,Zanahoria,Zanahoria

In [24]:
# Crear un nuevo DataFrame con las columnas solicitadas y renombradas
df_agronet_final = df_agronet[["mercado", "precio_$/kg", "fecha", "Producto_homologado"]].copy()

# Renombrar columnas con la primera letra en mayúscula
df_agronet_final.columns = ["Mercado", "Precio", "Fecha", "Producto"]

# Mostrar un ejemplo
df_agronet_final.head()

  Mercado  Precio      Fecha            Producto
0  Bogotá  2200.0 2005-07-15  Aguacate Papelillo
1  Bogotá  2340.0 2005-07-22  Aguacate Papelillo
2  Bogotá  2355.0 2005-07-29  Aguacate Papelillo
3  Bogotá  2410.0 2005-08-05  Aguacate Papelillo
4  Bogotá  2410.0 2005-08-12  Aguacate Papelillo

In [25]:
df_agronet_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65284 entries, 0 to 65283
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Mercado   65284 non-null  object
 1   Precio    65284 non-null  float64
 2   Fecha     65284 non-null  datetime64[ns]
 3   Producto  65284 non-null  object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 2.0+ MB

In [26]:
# Exportar el DataFrame df_agronet_final a un archivo Excel
output_path = "../Data/agronet_final.xlsx"
df_agronet_final.to_excel(output_path, index=False)

output_path

'../Data/agronet_final.xlsx'